body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    height: 34px;
    width: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    float: left;
    text-align: center;
}

.square:focus {
    outline: none;
}

.square.highlight {
    background: greenyellow;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.item-selected-move-list {
    font-weight: bold;
    float: left;
}